@font-face {
  font-family: 'RobotoMono';
  src: url(./fontes/Roboto-Regular.ttf);
}

*{
  font-family: 'RobotoMono', monospace;
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: azure;
  background: linear-gradient(#e66465, #9198e5);
}
